@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

/* Custom Scroll bar CSS */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ff007b;
    border-radius: 12px;
    transition: all 0.3s ease;
}


::-webkit-scrollbar-thumb:hover{
    background: #ff007b;
}
/*navbar syling */
nav{
    width: 100%;
    height: 15vh;
}

.nav-container{
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.logo{
 color: #f1f1f1;
 font-size: 2rem;
 font-weight: bold;
}

.logo span{
  color: #ff007b;
  text-shadow: 0 0 10px #ff007b;
}

.hamburg,
.cancel{
 cursor: pointer;
 position: absolute;
 right: 20px;
 top: 90px;
 color: white;
 opacity: 0;
 pointer-events: none;
 font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links{
  display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container.links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ff007b;
    transition: 0.2s linear;
}

.nav-container.links a:hover::before{
    width: 100%;
}

.nav-container.links a:hover{
    color: #ff007b;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #ff007b;
}

section{
    width: 100%;
    min-height: 90vh;
}

section .main-container{ 
    
 display: flex;
 justify-content:space-between ;
 padding-left: 100px;
 align-items: center;
}

.main-container .image{
  width: 500px;
  height: 80vh;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px #ff007b;
}

.main-container .image img{
    width: 100%;
}

.main-container .image:hover{
    animation:animate 1.5s ease-in-out infinite
}

@keyframes animate{
  0%{
    scale: 1;
  }  


50%{
    scale: 1.05;
}

100%{
  scale: 1;
 }
}

.main-container .content{
  color: rgb(255, 255, 255);
  width: 40%;
}

.content h1{
  font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
  text-shadow: 0 0 10px #ff007b;
}

.content .typewriter{
  font-size: clamp(1rem, 1rem +5vw, 2.5rem);
  font-weight: 600;
}

.content.typewriter-text{
  color: #f00577;
  text-shadow: 0 0 10px #ff007b;
}

.content p{
  font-size: clamp(0.4rem, 0.2rem, 9vw, 1rem);
  margin: 10 px 0;
}

.social-links i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 0.2rem solid #ff007b;
  border-radius: 50%;
  color: #ff007b;
  margin: 5px 15px;
  font-size: 1.5rem;
  transition: 0.2 linear;
}

.social-links i:hover{
  scale: 1.3;
  color: black;
  background-color: #ff007b;
  filter: drop-shadow(0 0 10px #ff007b);
}

.content button{
  width: 50%;
  height: 6vh;
  margin: 30px;
  background-color: #ff007b;
  color: #f1f1f1;
  border: none;
  outline: none;
  font-size: 120%;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s linear;
}

.content button:hover{
 scale: 1.1;
 color: #ff007b;
 border: 2px solid #ff007b;
 background-color: transparent;
 font-weight: 700;
 box-shadow: 0 0 40px #ff007b;
}

/*About Section Styling */

section .content{
 width: 80%;
 margin: 0px auto;
 font-family: 'Poppins', sans-serif
}
.profile .profile-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title span{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #f1f1f1;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ff007b;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.profile .profile-details .left{
  width: 45%;
}
.profile .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.profile-details .right{
  width: 55%;
}
section .topic{
  color: #f1f1f1;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.profile-details .right p{
  text-align: justify;
  color: #f1f1f1;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #ff007b;
  color: #f9f5f8;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #ff007b;
  background-color: #f1f1f1;
  color: #ff007b;
}

.education{
  background: black;
}
.education .content{
  padding: 40px 0;
}
.education .education-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education-details .text{
  width: 50%;
}
.education-details p{
  color: #f1f1f1;
  text-align: justify;
}
.education .education-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.education-details .experience .num{
  color: #f1f1f1;
  font-size: 80px;
}
.education-details .experience .exp{
  color: #f1f1f1;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.education-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.education-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.education-details .topic{
  font-size: 20px;
  color: #ff007b;
}
.education-details .boxes .per{
  font-size: 60px;
  color: #ff007b;
}


.hobby .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hobby .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  color: #f1f1f1;
  transition: all 0.4s ease;
}
.hobby .boxes .box:hover{
  background: #ff007b;
  color: #f1f1f1;
}
.hobby .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #ff007b;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #f1f1f1;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #f1f1f1;
  color: #ff007b;
}
.hobby .boxes .box:hover .topic,
.hobby .boxes .box:hover p{
  color: #f1f1f1;
  transition: all 0.4s ease;
}
.hobby .boxes .box:hover .topic,
.hobby .boxes .box:hover p{
  color: #f1f1f1;
}


/* family CSS*/
.family .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.family .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  color: #f1f1f1;
  transition: all 0.4s ease;
}
.family .boxes .box:hover{
  background: #ff007b;
  color: #f1f1f1;
}
.family .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #ff007b;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #f1f1f1;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #f1f1f1;
  color: #ff007b;
}
.family .boxes .box:hover .topic,
.family .boxes .box:hover p{
  color: #0f0101;
  transition: all 0.4s ease;
}
.family .boxes .box:hover .topic,
.family .boxes .box:hover p{
  color: #0a0000;
}

/* Contact Me CSS*/
.contact{
  background: black;
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

footer{
  background: #ff007b;
  padding: 5px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 15px;
  font-weight: 350;
  color: #f1f1f1;
}
footer .text span a{
  font-weight: 450;
  color: #f1f1f1;
}
footer .text span a:hover{
  text-decoration: underline;
}
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #f1f1f1;
  background: #ff007b;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}


@media (max-width:1000px){
.profile .profile-details{
    justify-content: center;
    flex-direction: column;   
}
.profile .profile-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
}
.profile .profile-details .right{
    width: 90%;
    margin: 40px 0;
}
.family .boxes .box{
    margin: 20px;
    width: calc(100% / 2 - 20px);
 }
}

@media (max-width: 900px){
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 968px){

 nav .logo{
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 1.5rem;
 }

 section .main-container{
  padding-left: 0px;
  display: flex;
  flex-direction: column;
 }

 .nav-container .links{
  display: none;
 }

 .hamburg,
 .cancel{
  opacity: 1;
  pointer-events: visible;
 }

 .main-container .content{
  margin-top: 20px;
  width: 80%;
 }

 .social-links i{
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
 }

 .main-container .image{
  z-index: 1;
  width: 50%;
  height: 60%;
 }

 .education .education-details{
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
.education-details .text{
  width: 100%;
  margin-bottom: 50px;
}
.education-details .boxes{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hobby .boxes .box{
  margin: 20px 0;
  width: 100%;
}
.family .boxes .box{
  margin: 20px 0;
  width: 100%;
}
.contact .text{
  width: 100%;
}
}

@media (max-width: 500px){
  main-container .image{
    width: 50%;
    height: 60%;
    margin-bottom: 0px;
  }

  .main-container .content{
    width: 80%;
  }

  .main-container button{
    margin-top: 15px;
  }

  .education-details .boxes .per{
    font-size: 50px;
    color: #ff007b;
  }
}


